<!-- 
 <div class="top">
     <div class="abcd">
<h1>FRUITS</h1>
<li *ngFor="let fruit of fruits" (click)="onSelect(fruit)" 
[class.selected]="selectedFruit===fruit && value">{{fruit}}</li>
</div>
<div class="overlay" (click)="overlay()"></div> 
</div> -->

<div class="abcd">
<h1>FRUITS</h1>
<li *ngFor="let fruit of fruits" (click)="onSelect(fruit);overlay1 = true" 
[class.selected]="selectedFruit===fruit && value">{{fruit}}</li>
</div>
<div class="overlay" *ngIf="overlay1" (click)="overlay();overlay1=false;"></div>